
p {

color: coral;
font-size:2rem;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#d1 {

color: coral;
font-size:1.6rem;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#d2 {

color: coral;
font-size:1.5rem;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#d3 {

color: coral;
font-size:1.3rem;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#d4 {

color: coral;
font-size:1.3rem;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#d5 {

color: coral;
font-size:1.5rem;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

